.rowDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemonType {
  cursor: pointer;
  margin-left: 5px;
  text-align: left;
  align-self: flex-start;
}

.images {
  display: flex;
  flex-direction: row;
}