.homeDiv {
  top:0px;
  height: 100vh;
  width: 500px;
  background-color: aquamarine;
  overflow: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.pokemonTitle {
  height: 300px;
  width: 400px;
}
.pokemon {
  font-size: 20;
  color: black;
  cursor: pointer;
  border-bottom:2px solid black;
}

.list {
  height: 800px;
  width: 400px;
  overflow: "auto"
}